@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;

    background-position: 122% -13%;

}


#cta {
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .features::after {
        content: " ";
        position: absolute;
        width: 750px;
        height: 700px;
        left: -32%;
        top: 100%;
        background-image: url('../images/bg-tablet-pattern.svg');
        background-size: cover;
        z-index: -1;


    }

}

@media (max-width: 576px) {
    body {
        background-position: -70% -3%;
        background-size: 120%;
    }

    #cta {
        background-image: url('../images/bg-simplify-section-mobile.svg');
    }
}